@model ToyBox.Feature.Controls.Models.Fields.LocationPickerViewModel


Map Placeholder:
<div id="map"></div>

<p>Selected Location: <span id="onIdlePositionView"></span></p>
<input type="text" id="locationLat" name="locationLat" style="display:none">
<input type="text" id="locationLong" name="locationLong" style="display:none">

