<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>

            <!--Sitecore Forms - Field Template Ids -->
            <setting name="ToyBox.Feature.Controls.SitecoreForms.InputTemplateId" value="{0908030B-4564-42EA-A6FA-C7A5A2D921A8}" />
            <setting name="ToyBox.Feature.Controls.SitecoreForms.EmailTemplateId" value="{886ADEC1-ABF8-40E1-9926-D9189C4E8E1B}" />
            <setting name="ToyBox.Feature.Controls.SitecoreForms.HiddenTemplateId" value="{5092AFD5-45C0-4FB0-91B1-56B1B960AC7F}" />
            <setting name="ToyBox.Feature.Controls.SitecoreForms.DropdownTemplateId" value="{9121D435-48B8-4649-9D13-03D680474FAD}" />
            <setting name="ToyBox.Feature.Controls.SitecoreForms.CheckboxTemplateId" value="{2F07293C-077F-456C-B715-FDB791ACB367}" />
            <setting name="ToyBox.Feature.Controls.SitecoreForms.MultilineTemplateId" value="{D8386D04-C1E3-4CD3-9227-9E9F86EF3C88}" />
            <setting name="ToyBox.Feature.Controls.SitecoreForms.RadioButtonsTemplateId" value="{5B672865-55D2-413E-B699-FDFC7E732CCF}" />
            <setting name="ToyBox.Feature.Controls.SitecoreForms.MultiCheckboxesTemplateId" value="{5B672865-55D2-413E-B699-FDFC7E732CCF}" />
            <setting name="ToyBox.Feature.Controls.SitecoreForms.ColorPickerTemplateId" value="{F6F43C8F-B2F8-47A5-956C-90558D481B56}" />
            <setting name="ToyBox.Feature.Controls.SitecoreForms.LocationPickerTemplateId" value="{F6F43C8F-B2F8-47A5-956C-90558D481B56}" />
            <setting name="ToyBox.Feature.Controls.SitecoreForms.ImagePickerTemplateId" value="{F6F43C8F-B2F8-47A5-956C-90558D481B56}" />

        </settings>
    </sitecore>
</configuration>